<div class="container-fluid">
    <h3 class="text-center">Weather</h3>
     <div *ngFor="let weather in weatherOnCities">
      <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-sm-12 col-xs-12">
              <div class="card text-white">
                  <div class="div1 p-4 p-md-5 ">
                      <h5>{{weather.name}}</h5>
                      <h1>{{weather.main.temp}}<sup>°C </sup> </h1>
                      <p class="my-0">Hora local</p>
                      <h4 class="my-0">{{weather.dt}}</h4>
                  </div>
                  <div class="div2"> </div>
              </div>
          </div>
      </div>
    </div>
</div>
